
.flex-box-con3,#flex-box-con3-rps,
{
    border: 1px solid black;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.cont3
{
    margin: 0 auto;
    width: 75%;
    border: 1px solid black;
    text-align: center;
}

.flex-box-con3 img:hover
{
     box-shadow: 0px 10px 50px rgba(37,50,233,1);
     
}
